@import './globals.scss';

.header{
    background: $bg-main-color;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem 0;
    color: $main-color;
    .tel{
        font-size: 1.5rem;
        margin: 0;
    }
    div p:nth-child(2){
        font-size: .8rem;
        margin: 0;
        margin-top: .1rem;

      }
}
.logo{
    width: 20%;
    align-items: center;
    img{
        width: 100%;
    }
}
.contact{
    padding: 5% 0;
    width: 50%;
    margin: 0 auto;
    .title{
        text-align: center;
        .titelEn{
            color: $main-color;
            font-size: 2rem;
            letter-spacing: .2rem;
            margin: 0;
          }
          .ttlDeco{
            width: 3rem;
          }
          .titleJp{
            color: $main-color;
          }
    }
    .attention{
        color: $main-color;
        border: 1px solid $main-color;
        padding: .5rem 1rem;
        width: 21%;
    }
    .required{
        color: red;
    }
}