@import './globals.scss';


.header{
    background: $bg-main-color;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: $main-color;

    div p:nth-child(2){
        font-size: .8rem;
        margin: 0;
        margin-top: .1rem;

      }
}
.logo{
    align-items: center;
    img{
        width: 100%;
    }
}
@media screen and (min-width:769px){//PC
    .infoItem{
        display: none;
    }
    .info{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 1.5rem 0;
        color: $main-color;

        div p:nth-child(2){
            font-size: .8rem;
            margin: 0;
            margin-top: .1rem;

          }
    }
    .logo{
        width: 20%;
        align-items: center;
        img{
            width: 100%;
        }
    }
}
@media screen and (max-width:768px){//SP
    .isPC{
        display: none;
    }
    .header{
        height: 69px;
    }
    .infoItem{
        margin-top: 23px;
      }
      .telLink{
        margin-right: 1px;
        i{
          padding: 0;
        }
      }
      .telLink, .formLink{
        color: white;
        padding: 1.5rem;
        background: $main-color;
      }
      .info{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-right: 0;
        color: $main-color;

        div p:nth-child(2){
            font-size: .8rem;
            margin: 0;
            margin-top: .1rem;

          }
    }
    .logo{
        width: 50%;
        align-items: center;
        padding: 1rem;
        img{
            width: 100%;
        }
    }
}
//フォームページ
.contact{
    padding: 5% 0;
    margin: 0 auto;
    .title{
        text-align: center;
        .titelEn{
            color: $main-color;
            letter-spacing: .2rem;
            margin: 0;
          }
          .titleJp{
            color: $main-color;
            font-family: "Hiragino Mincho Pro";
          }
    }
    .attention{
        color: $main-color;
        border: 1px solid $main-color;
        padding: .5rem 1rem;
    }
    .required{
        color: red;
    }
}
@media screen and (min-width:769px){//PC
    .contact{
        width: 50%;
        .title{
            .titelEn{
                font-size: 2rem;
              }
              .ttlDeco{
                width: 3rem;
              }
        }
        .attention{
            width: 26%;
            margin-left: 5%;
        }
    }
}
@media screen and (max-width:768px){//SP
    .contact{
        width: 80%;
        .title{
            .titelEn{
                font-size: 1.5rem;
              }
              .ttlDeco{
                width: 1.5rem;
              }
        }
        .attention{
            width: 100%;
        }
    }
}
form{
    .field,.radioButton,.dateNtime{
        display: flex;
    }
    .email{
        width: 200%;
    }
    .textarea{
        height: 10rem;
        width: 193%;
    }
    .label{
        margin-right: 2rem;
        width: 30%;
        text-align: right;
    }
    .radioButton div:first-child,.dateNtime input:first-child{
        margin-right: 1rem;
    }
    .submitBtn{
        text-align: center;
        margin-top: 2.5rem;
        button{
            background-color: $main-color;
            color: white;
            border: none;
            padding: .8rem 5rem;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after{
                width: 100%;
                height: 0;
                content:"";
                position: absolute;
                top: 50%;
                left: 50%;
                background : #FFF;
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                transition: .2s;
                z-index: -1;
            }
            &:hover{
                color: $main-color;
                font-weight: bold;
                &:after{
                    height: 240%;
                    opacity: 1;
                }
            }
            &:active:after{
                height: 340%;
                opacity: 1;
            }
            &:disabled{
                background-image: none;
                background-color: #ccc;
                border-color: #ccc;
                pointer-events: none;
            }
        }
    }
}
.errorMessage{
    color: red;
}
//thunxページ
.thunx{
    margin-top: 3% ;
    margin-bottom: 7%;
    margin-left: 18%;
    p{
        color: $letter-color;
    }
    h2{
        font-size: 1.5rem;
        color: $main-color;
    }
    .hr{
        border-top:1px solid $main-color;
        width:1.5rem;
        margin-left: 0;
    }
}