@import './globals.scss';

.header{
    background: $bg-main-color;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem 0;
    color: $main-color;

    div p:nth-child(2){
        font-size: .8rem;
        margin: 0;
        margin-top: .1rem;

      }
}
.logo{
    width: 20%;
    align-items: center;
    img{
        width: 100%;
    }
}
//フォームページ
.contact{
    padding: 5% 0;
    width: 50%;
    margin: 0 auto;
    .title{
        text-align: center;
        .titelEn{
            color: $main-color;
            font-size: 2rem;
            letter-spacing: .2rem;
            margin: 0;
          }
          .ttlDeco{
            width: 3rem;
          }
          .titleJp{
            color: $main-color;
          }
    }
    .attention{
        color: $main-color;
        border: 1px solid $main-color;
        padding: .5rem 1rem;
        width: 26%;
        margin-left: 5%;
    }
    .required{
        color: red;
    }
}
form{
    .field,.radioButton,.dateNtime{
        display: flex;
    }
    .email{
        width: 200%;
    }
    .textarea{
        height: 10rem;
        width: 193%;
    }
    .label{
        margin-right: 2rem;
        width: 30%;
        text-align: right;
    }
    .radioButton div:first-child,.dateNtime input:first-child{
        margin-right: 1rem;
    }
    .submitBtn{
        text-align: center;
        margin-top: 2.5rem;
        button{
            background-color: $main-color;
            color: white;
            border: none;
            padding: .8rem 5rem;
        }
    }
}
.errorMessage{
    color: red;
}
//thunxページ
.thunx{
    margin-top: 3% ;
    margin-bottom: 7%;
    margin-left: 18%;
    p{
        color: $letter-color;
    }
    h2{
        font-size: 1.5rem;
        color: $main-color;
    }
    .hr{
        border-top:1px solid $main-color;
        width:1.5rem;
        margin-left: 0;
    }
}