
$main-color: #28729e;
$letter-color:#656161;
$bg-main-color:#b9e7ef29;
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    width:98%;
    font-family: 'Quicksand', sans-serif;
  }