@import './globals.scss';

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: flex;
  width:98%;
}
.eyechach{
  Image{
    width: 90%;
  }
}
.officeInfo{
  position: absolute;
  top: 0;
  right: 0;
  color:$main-color;
  display: flex;
  background: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  div p:nth-child(2){
    font-size: .8rem;
  }
  p{
    margin: 0;
  }
  .tel{
    font-size: 1.5rem;

  }
  .form{
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    padding: 1rem 2rem;
    margin-left: 1rem;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
