@import './globals.scss';

//スマホヘッダー
@media screen and (max-width:768px){//SP
  .isPC{
    display: none;
  }
  .logo{
    width:50%;
    padding: 1rem;
    padding-left: .5rem;
  }
  .spHeader{
    display: flex;
    justify-content: space-between;
    height: 69px;
    .infoItem{
      margin-top: 23px;
    }
  }
  .telLink{
    margin-right: 1px;
    i{
      padding: 0;
    }
  }
  .telLink, .formLink{
    color: white;
    padding: 1.5rem;
    background: $main-color;
  }
}
//アイキャッチ
@media screen and (max-width:768px){//SP
  .eyecache{
    background-image: url("../../public/img_main.jpg");
    background-position: right bottom;
    background-size: 150%;
    background-repeat: no-repeat;
    height: 270px;
  }
}
.eyecache{
  position: relative;
  .officeInfo, .logo{
    position: absolute;
    background: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
  }
  p{
    margin: 0;
  }
  .explaine{
    position: absolute;
    letter-spacing: .3rem;
    font-family: "Hiragino Mincho Pro";
  }
  @media screen and (min-width:769px){//PC
    .explaine{
      top: 36%;
      right: 9%;
      line-height: 4rem;
      font-size: .9rem;
    }
    .bgImg img{
      width: 100%;
      height: auto;
    }
    .officeInfo{
      top: -.5rem;
      right: -.5rem;
      color:$main-color;
      display: flex;
      div p:nth-child(2){
        font-size: .8rem;
      }
    }
    .logo{
      bottom: -2rem;
      left: 3.5rem;
      width: 20%;
    }
  .formLink{
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    padding: 1rem 2rem;
    margin-left: 1rem;
  }
  }
  @media screen and (max-width:768px){//SP
    .explaine{
      position: absolute;
      top: 20%;
      right: 5%;
      line-height: 2rem;
      font-size: .7rem;
    }
  }
}
//当院について
.about{
  padding: 10% 0 6% 0;
  .title{
    width: 30%;
    position: relative;
    text-align: right;
    padding-top: 2rem;
    padding-right: 2rem;
    .jpAbout,.ABOUT,.item1{
      position: absolute;
      color: $main-color;
    }
    .jpAbout{
      letter-spacing: .3rem;
      font-family: "Hiragino Mincho Pro";
    }
    .ABOUT{
      border-bottom: solid 1px $main-color;
    }
  }
  .describe{
    color: $letter-color;
    line-height: 1.5rem;
  }
  .staffPhoto{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
@media screen and (min-width:769px){//PC
  .about{
    display:flex;
    .title{
      width: 30%;
      position: relative;
      text-align: right;
      padding-top: 2rem;
      padding-right: 2rem;
      .item1{
        top: 15%;
        right: 8%;
      }
      .jpAbout{
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        top: -15%;
        right: 9%;
      }
      .ABOUT{
        top: 32%;
        right: 13%;
        line-height: 2.5rem;
      }
    }
    .describe{
      width: 30%;
      margin: 5% 3%;
      font-size: .8rem;
    }
    .staffPhoto{
      width: 40%;
    }
  }
}
@media screen and (max-width:768px){//SP
  .about{
    .title{
      width: 30%;
      position: relative;
      text-align: right;
      padding-top: 2rem;
      padding-right: 2rem;
      .item1{
        top: 110%;
        left: 185%;
        width: 80%;
      }
      .jpAbout{
        top: 180%;
        right: -130%;
        font-size: 1rem;
      }
      .ABOUT{
        top: 32%;
        right: -90%;
        font-size: .7rem;
        line-height: 2rem;
      }
    }
    .describe, .staffPhoto{
      margin-left: 10%;
      margin-top: 20%;
    }
    .describe{
      width: 80%;
      margin-top: 5%;
      font-size: .7rem;
    }
    .staffPhoto{
      width: 90%;
    }
  }
}
/** 3つのポイント **/
.titelEn{
  color: $main-color;
  letter-spacing: .2rem;
  margin: 0;
}
.titleJp{
  color: $main-color;
  font-family: "Hiragino Mincho Pro";
}
@media screen and (min-width:769px){//PC
  .titelEn{
    font-size: 2rem;
  }
  .ttlDeco{
    width: 3rem;
  }
}
@media screen and (max-width:768px){//SP
  .titelEn{
    font-size: 1.5rem;
  }
  .ttlDeco{
    width: 1.5rem;
  }
}

.point{
  background: $bg-main-color;
  padding: 5% 0;
  text-align: center;
  position: relative;
  .item2r,.item2l{
    position: absolute;
    width: 20%;
    height: auto;
  }
  @media screen and (min-width:769px){//PC
    .item2r{
      right: -2%;
      top: -14%;
    }
    .item2l{
      left: -2%;
      bottom: -17%;
    }
  }
  @media screen and (max-width:768px){//SP
    .item2r{
      right: -18%;
      top: -6%;
      width: 40%;
    }
    .item2l{
      left: -15%;
      bottom: -5%;
      width: 40%;
    }
  }
.inner{
  max-width: 1000px;
  margin:0 auto;
}
  .points{
    margin: 3rem auto;
    p{
      color: $letter-color;
    }
    .pointItem{
      .describe{
        margin-top: 3rem;
        width: 100%;
        text-align: left;
        font-size: .9rem;
        line-height: 2rem;
      }
      .pointNumber{
        position: relative;
        &:after{
          content: "";
          background: url(/ttl-bg.png) no-repeat;
          display: inline-block;
          width: 83px;
          height: 35px;
          position: absolute;
          background-size: 100%;
          z-index: -1;
          left: -10px;
          top: 0;
        }
      }
      .smTitle{
        position: relative;
        p{
          font-family: "Hiragino Mincho Pro";
        }
        p:first-child{
          z-index: 20;
          position: absolute;
          left: 0;
          right: 0;
          margin: 1rem auto;
          letter-spacing: .1rem;
        }
        .pointNumber{
          color: $main-color;
        }
        .ttlBg1, .ttlBg2, .ttlBg3{
          position: absolute;
          width: 4rem;
          z-index: 10;
        }
        .ttlBg1{
          top: 1.4rem;
        }
        .ttlBg2{
          top: 1.4rem;
        }
        .ttlBg3{
          top: 1.4rem;
        }
      }
    }
  }
  @media screen and (min-width:769px){//PC
    .points{
      display: flex;
      justify-content: space-between;
      p{
        color: $letter-color;
      }
      .pointItem{
        width: 30%;
        .insidePhoto{
          width: 80%;
        }
        .smTitle{
          .ttlBg1{
            left: 2.8rem;
          }
          .ttlBg2{
            left: -0.1rem;
          }
          .ttlBg3{
            left: 1.5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width:768px){//SP
    .points{
      width: 90%;
      p{
        color: $letter-color;
      }
      .pointItem{
        width: 80%;
        margin: 0 auto;
        .insidePhoto{
          width: 100%;
        }
        .smTitle{
          .ttlBg1{
            left: 4.2rem;
          }
          .ttlBg2{
            left: 1.5rem;
          }
          .ttlBg3{
            left: 3rem;
          }
        }
      }
    }
  }
}

/** 矯正の種類 **/
.type{
  padding: 5% 0;
  text-align: center;
  .types{
    display: flex;
    justify-content: space-between;
    img{
      height: auto;
      width: 140px;
    }
  }
  @media screen and (min-width:769px){//PC
    .types{
      margin: 3rem auto;
      justify-content: space-between;
      width: 58%;
      .typeItem, .typeItemLast{
        padding-right: 2rem;
        padding-left: 2rem;
      }
      .typeItem{
        border-right: 2px solid #c0d7e4;
      }
    }
  }
  @media screen and (max-width:768px){//SP
    .types{
      margin: 1rem auto;
      flex-wrap: wrap;
      width: 100%;
      .typeItem{
        margin: 0 auto;
      }
    }
  }
  .forBeginner{
    position: relative;
    margin: 0 auto;
    .innerContent{
      margin: 0 auto;
      background-size: 100%;
    }
    .contents{
      position: relative;
      color: $main-color;
      text-align: center;
      .title{
        margin-bottom: .5rem;
        font-family: "Hiragino Mincho Pro";
        img{
          vertical-align: middle;
        }
        .titleEn{
          letter-spacing: .1rem;
        }
      }
      .counseling{
        vertical-align: middle;
        img{
          height: 1rem;
        }
      }
      .worry{
        color: black;
        background: white;
        border-radius: 3rem;
        display: table;
        vertical-align: middle;
        p{
          display: table-cell;
          text-align: center;
        }
        img{
          text-align: left;
          height: 1rem;
          display: table-cell;
        }
        .etc{
          display: table-cell;
          text-align: right;
        }
      }
    }
  }
  @media screen and (min-width:769px){//PC
    .forBeginner{
      .innerContent{
        width: 1000px;
        height: 490px;
        background-image: url(/bg_fukidashi.png);
      }
      .contents{
        padding-top: 2rem;
        top: 3rem;
        .title{
          font-size: 1.5rem;
          letter-spacing: .5rem;
          img{
            width: 1.5rem;
          }
          .titleEn{
            font-size: .8rem;
          }
        }
        .counseling{
          letter-spacing: .2rem;
          font-size: 1.2rem;
        }
        .worry{
          margin: 1rem auto;
          width: 75%;
          padding: .5rem 1.5rem;
        }
      }
    }
  }
  @media screen and (max-width:768px){//SP
    .forBeginner{
      width: 90%;
      .innerContent{
        width: 100%;
        margin: 0 auto;
        background-image: url(/bg-suisai.jpg);
        background-size: 100%;
      }
      .contents{
        padding: 1rem;
        .title{
          font-size: .8rem;
          letter-spacing: .2rem;
          img{
            width: .8rem;
          }
          .titleEn{
            font-size: .5rem;
          }
        }
        .counseling{
          letter-spacing: .1rem;
          font-size: .7em;
          margin: 0;
        }
        .worry{
          margin: .7rem auto;
          width: 100%;
          padding: .4rem 1rem;
          p{
            font-size: .6rem;
          }
          img{
            width: 40%;
            height: auto;
          }
        }
      }
      .spAsk{
          font-size: .6rem;
          letter-spacing: .1rem;
          line-height: 1.3rem;
          margin: 0;
      }
    }
  }
}

/** footer **/
.footer{
  background: $bg-main-color;
  color: $main-color;
  address{
    font-style: normal;
  }
  .info{
    padding: 3% 0;
    margin: 0 auto;
    font-size: .9rem;
    line-height: 2rem;
    p{
      margin: 0;
    }
    .station{
      display: flex;
      align-items: center;
      img{
        width: 1rem;
        height: 1.3rem;
        margin-right: .3rem;
      }
    }
    .formInfo{
      margin: 1rem 0;
      .tel{
        color: $main-color;
      }
    }
    .form{
      color: inherit;
      margin-left: 1rem;
    }

    .officeHours table{
      background: white;
      border-radius: 1rem;
      padding: 1rem;
      border-collapse: separate;
      border-spacing: 0px;
      width: 100%;
      text-align: center;
      td{
        border-bottom: 1px solid #99babf;
        border-right: 1px solid #99babf;
      }
      .firstCell{
        width: 7rem;
      }
      .borderRNone{
        border-right:none;
      }
      .borderBNone{
        border-bottom: none;
      }
    }
    .closedDays{
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (min-width:769px){//PC
    .info{
      display: flex;
      justify-content: space-between;
      width: 58%;
      .map{
        width: 50%;
      }
    }
  }
  @media screen and (max-width:768px){//SP
    .info{
      width: 85%;
      .form{
        .borderBottom{
          font-size: .8rem;
        }
      }
      .map{
        width: 100%;
      }
    }
  }
}

.small{
  text-align: center;
  margin: 1rem;
  color: $main-color;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}